{% load staticfiles %}

<!DOCTYPE html>
<html class="{{ htmlClass }}">
	<head>
		<title>{{ title }}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width" />

		<link rel="stylesheet" href="{% static 'posts/css/reset.css' %}" media="all" />
		<link rel="stylesheet" href="{% static 'posts/css/style.css' %}" media="all" />
		<link rel="stylesheet" href="{% static 'posts/css/bootstrap.min.css' %}" media="all" />
        <link rel="stylesheet" type="text/css" href="{% static 'posts/css/mystyle.css' %}"  media="all" />
<!--		<link rel="stylesheet" type="text/css" href="http://www.smoothdivscroll.com/css/smoothDivScroll.css" />-->

		<!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
		<!-- End Pattern Lab -->
	
	</head>
	<body class="{{ bodyClass }}">	
        <div class="bg">
            <div class="container articlelayer">
                <div class="article-nav">
                    <!--Beginning of Primary Nav-->
                    <div class='menu-wrap'>
                        <nav class="nav">
                                <ul>
                                  <li class="active"><a href="#">Home</a></li>
                                  |
                                    <li><a href="{{ url }}">Gallery</a></li>
                                    |
                                    <li><a href="{{ url }}">Categories</a>
                                        <ul clas="dropdown-menu">
                                            <li><a href="#">Arts</a></li>
                                            <li><a href="#">Culture</a></li>
                                            <li><a href="#">Entertainment</a></li>
                                            <li><a href="#">Identity</a></li>
                                            <li><a href="#">Literature</a></li>
                                            <li><a href="#">Mental Health</a></li>
                                            <li><a href="#">Music</a></li>
                                            <li><a href="#">Politics</a></li>
                                            <li><a href="#">Technology</a></li>
                                            <li><a href="#">Travel</a></li>
                                            <li><a href="#">Daily QLAs</a></li>
                                            <li><a href="#">Weekly Vignette</a></li>
                                        </ul>
                                    </li>
                                    |
                                    <li><a href="{{ url }}">Archive</a></li>
                                    |
                                    <li><a href="{{ url }}">About Us</a></li>
                                    |
                                    <li><a href="{{ url }}">Contact</a></li>
                                </ul>
                        </nav>
                    </div>
                    <!--End of Primary Nav-->
                </div>

                <!-- QLA Content -->
                <div class="article-div">
                    <div class="row">
                        <div class="row">
                                <div>
                                    <div class="col-md-8">
                                        <h1>{{qla.qla_title}}</h1>
                                        <div style="clear:left">
                                            <ul class="share-buttons">
                                              <li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fquarterlifeadventures.ca%2F&t=" title="Share on Facebook" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL)); return false;"><img src="{% static 'posts/images/socialmediatoolbar/Facebook.png' %}" alt="img" /></a></li>
                                              <li><a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Fquarterlifeadventures.ca%2F&text=:%20http%3A%2F%2Fquarterlifeadventures.ca%2F" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL)); return false;"><img src="{% static 'posts/images/socialmediatoolbar/Twitter.png' %}" alt="img" /></a></li>
                                              <li><a href="https://plus.google.com/share?url=http%3A%2F%2Fquarterlifeadventures.ca%2F" target="_blank" title="Share on Google+" onclick="window.open('https://plus.google.com/share?url=' + encodeURIComponent(document.URL)); return false;"><img src="{% static 'posts/images/socialmediatoolbar/Google+.png' %}" alt="img" /></a></li>
                                              <li><a href="http://www.tumblr.com/share?v=3&u=http%3A%2F%2Fquarterlifeadventures.ca%2F&t=&s=" target="_blank" title="Post to Tumblr" onclick="window.open('http://www.tumblr.com/share?v=3&u=' + encodeURIComponent(document.URL) + '&t=' +  encodeURIComponent(document.title)); return false;"><img src="{% static 'posts/images/socialmediatoolbar/Tumblr.png' %}" alt="img" /></a></li>
                                              <li><a href="http://pinterest.com/pin/create/button/?url=http%3A%2F%2Fquarterlifeadventures.ca%2F&description=" target="_blank" title="Pin it" onclick="window.open('http://pinterest.com/pin/create/button/?url=' + encodeURIComponent(document.URL) + '&description=' +  encodeURIComponent(document.title)); return false;"><img src="{% static 'posts/images/socialmediatoolbar/Pinterest.png' %}" alt="img" /></a></li>
                                              <li><a href="http://www.reddit.com/submit?url=http%3A%2F%2Fquarterlifeadventures.ca%2F&title=" target="_blank" title="Submit to Reddit" onclick="window.open('http://www.reddit.com/submit?url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;"><img src="{% static 'posts/images/socialmediatoolbar/Reddit.png' %}" alt="img" /></a></li>
                                              <li><a href="http://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Fquarterlifeadventures.ca%2F&title=&summary=&source=http%3A%2F%2Fquarterlifeadventures.ca%2F" target="_blank" title="Share on LinkedIn" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;"><img src="{% static 'posts/images/socialmediatoolbar/LinkedIn.png' %}" alt="img" /></a></li>
                                              <li><a href="mailto:?subject=&body=:%20http%3A%2F%2Fquarterlifeadventures.ca%2F" target="_blank" title="Email" onclick="window.open('mailto:?subject=' + encodeURIComponent(document.title) + '&body=' +  encodeURIComponent(document.URL)); return false;"><img src="{% static 'posts/images/socialmediatoolbar/Email.png' %}" alt="img" /></a></li>
                                            </ul>
                                        </div>

                                        {% with '../static/posts/images/qla-thumb/'|add:qla.qla_thumb as image_static %}
                                             <img src="{% static image_static %}" alt="img" />
                                        {% endwith %}
                                        <h2></h2>
                                        <p class="single-QLA-DAA">{{qla.qla_date}}, by {{qla.qla_author}}</p>
                                        <div><p class="single-QLA-text">{{qla.qla_content}}</p></div>
                                        <br/><br/>
                                    </div>
                                    <div class="col-md-4">
                                    </div>
                                </div>
                        </div>


                    </div>
                </div>
            </div>

        <!-- Begin Footer -->
            <footer class="footer">
                <div>
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-3"> 
                                <h1 id="footer-logo"><a href="{{homepageurl}}">QLA</a></h1>
                            </div>
                            <div class="col-md-6 footer-text">
                                <ul class="nav-footer">
                                    <li><a href="{{ url }}">Home</a></li>
                                    <li><a href="{{ url }}">Gallery</a></li>
                                    <li><a href="{{ url }}">Categories</a></li>
                                    <li><a href="{{ url }}">About Us</a></li>
                                    <li><a href="{{ url }}">Contact</a></li>
                                </ul>
                                <br />
                                <!-- Social Media Icons-->
                                <div style="clear:left">
                                    {% if all_icons %}
                                        {% for icon in all_icons %}
                                            {% with '../static/posts/images/'|add:icon.socialmediaicon_normal as normal_icon %}
                                            {% with '../static/posts/images/'|add:icon.socialmediaicon_hover as hover_icon %}
                                                <a href="{{ icon.socialmediaicon_link }}"><img src="{% static normal_icon %}" alt="#" onmouseover="this.src='{% static hover_icon %}'"  onmouseout="this.src='{% static normal_icon %}'"/></a>
                                            {% endwith %}
                                            {% endwith %}

                                        {% endfor %}
                                    {% else %}
                                        <p></p>
                                    {% endif %}
                                </div>
                            </div>
                            <!-- Newsletter-->
                            <div class="col-md-3" id="newsletter">
                                <form action="{{ url }}" method="post" class="inline-form newsletter-form">           
                                    <fieldset>
                                        <!-- <legend>Sign up for our newsletter</legend> -->
                                        <h2 class="signup" >Sign up for our newsletter</h2>
                                        <!-- <label for="newsletter-scope">Sign up for our newsletter</label> -->
                                        <div class="inline-container">
                                            <input type="newsletter" placeholder="E-mail address" id="newsletter-field" class="newsletter-field" />
                                            <button class="btn newsletter-submit">Go!</button>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2"></div>	
                </div>

            </footer>
            <div id="fineprint">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <p class="copyright">&copy; 2016 Quarter Life Adventures. All rights reserved.</p>
                    <p class="credits">Site design by <a href="http://www.southernwonder.ca/">Southern Wonder</a></p>
                </div>
                <div class="col-md-2"></div>
            </div>
            <!-- End Footer -->
        </div>
        
        <!--DO NOT REMOVE-->
		<script type="text/javascript" src="{% static 'posts/js/jquery-2.0.0b2.js' %}"></script>
		<script type="text/javascript" src="{% static 'posts/js/bootstrap.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'posts/js/holder.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'posts/js/custom.js' %}"></script>
		<script src = "http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
			<!-- jQuery UI Widget and Effects Core (custom download)
		 You can make your own at: http://jqueryui.com/download -->
		<script type="text/javascript" src="{% static 'posts/js/jquery-ui-1.10.3.custom.min.js' %}" type="text/javascript"></script>
		
		<!-- Latest version of jQuery Mouse Wheel by Brandon Aaron
			 You will find it here: http://brandonaaron.net/code/mousewheel/demos -->
		<script type="text/javascript" src="{% static 'posts/js/jquery.mousewheel.min.js' %}" type="text/javascript"></script>

		<!-- jQuery Kinetic - for touch -->
		<script type="text/javascript" src="{% static 'posts/js/jquery.kinetic.min.js' %}" type="text/javascript"></script>

		<!-- Smooth Div Scroll 1.3 minified -->
		<script type="text/javascript" src="{% static 'posts/js/jquery.smoothdivscroll-1.3-min.js' %}" type="text/javascript"></script>
		<script type="text/javascript" src="{% static 'posts/js/stickybar.js' %}" type="text/javascript"></script>
		<script type="text/javascript">
			// Initialize the plugin with no custom options
			$(document).ready(function () {
				// None of the options are set
				$("div#makeMeScrollable").smoothDivScroll({});
			});
		</script>
	</body>
</html>